* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}
